.display-flex{display: flex;}

.margine-top{margin-top: 2rem;}

.margine-left{margin-left: 2rem;}

.margine-right{margin-right: 2rem;}

.color1{color: rgba(37, 36, 50, 1);}

.color2{color: rgba(137, 135, 161, 1);}  

.color3{color: rgba(233, 90, 8, 1);}

.color4{color: rgba(107, 114, 128, 1);}

.color5{color: rgba(0, 0, 0, 1);}

/* nav section */
.navbar{justify-content: space-between;
align-items: center;
}

.nav-link{list-style: none;;
gap: 20px;}

.nav-item{
    list-style: none;
}

.nav-link{text-decoration: none;
margin-right: 2.125rem;}

/* banner section */

.banner{margin-top: 7.5rem ;
justify-content: space-between;
align-items: center;}

.title{font-size: 4rem;
font-weight: bold;}

.sub-title{font-size: 1.5rem;
font-weight: 25rem;
color: rgba(0, 0, 0, 0.5);}